/*
!.gitignore

!/alacritty/
!/bluetuith/
!/btop/
!/dunst/
!/fish/
!/gtk-3.0/
!/gtk-4.0/
!/helix/
!/kanshi/
!/rofi/
!/foot/
!/starship.toml
!/swappy/
!/sway/
!/tmux/
/tmux/plugins
!/zed/

*.bak.*
*.bck
